[submodule "conrob_pybullet"]
	path = conrob_pybullet
	url = https://github.com/yijiangh/conrob_pybullet.git

[submodule "assembly_instances"]
	path = assembly_instances
	url = https://github.com/yijiangh/assembly_instances.git
[submodule "conmech"]
	path = conmech
	url = https://github.com/yijiangh/conmech.git
