.idea
.vscode
**/*.pyc
*.egg-info/
*.egg
temp
visualizations
statistics
gurobi.log

# some OSX/vim tmp stuff
**/.DS_Store
**~
**/*.swp
**/*.~un

*.ipynb_checkpoints/

choreo/csp_log/*
choreo/results/*

dist
.eggs
*__pycache__*
*.egg-info

.ropeproject

.vscode
.coverage
